@import url("https://fonts.cdnfonts.com/css/poppins");
@import url("https://fonts.googleapis.com/css2?family=Delius&family=Eagle+Lake&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 80vh;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}